.box-game-container {
  padding: 40px;
}

.box-game-container .game-area {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  border: 2px solid black;
  padding: 1px;
  padding-top: 4px;
}

.game-area .box {
  flex: 1 0 8%;
  height: 34px;
  width: 34px;
  border: 2px solid black;
  margin: 2px;
  padding: 1px;
}

.game-area .box.default {
  background-color: rgb(216, 216, 226);
}
/*  White ga teng bo'lgan boxga style */

.game-area .box.white {
  background-color: rgb(216, 216, 226);
}

.game-area .box.white .circle {
  background-color: white;
}

/* Black ga teng bo'lgan boxga style */

.game-area .box.black {
  background-color: rgb(216, 216, 226);
}

.game-area .box.black .circle {
  background-color: black;
}
/* Red ga teng bo'lgan boxga style */
.game-area .box.red {
  background-color: rgb(216, 216, 226);
}

.game-area .box.red .circle {
  background-color: red;
}
/* Green ga teng bo'lgan boxga style */

.game-area .box.green {
  background-color: rgb(216, 216, 226);
}

.game-area .box.green .circle {
  background-color: green;
}

/* Blue ga teng bo'lgan boxga style */
.game-area .box.blue {
  background-color: rgb(216, 216, 226);
}

.game-area .box.blue .circle {
  background-color: blue;
}
/* Yellow ga teng bo'lgan boxga style */
.game-area .box.yellow {
  background-color: rgb(216, 216, 226);
}

.game-area .box.yellow .circle {
  background-color: yellow;
}

.circle {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background-color: white;
  color: black;
  margin-left: 2px;
}
